<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Scanner Agent" 
           Manufacturer="Your Company Name" 
           Version="1.0.0.0" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Scanner Agent is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Scanner Agent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ScannerAgent" />
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ScannerAgentExe" Guid="*">
        <File Id="ScannerAgentExe" Source="$(var.PublishDir)\scanneragent.exe" KeyPath="yes" />
      </Component>
      <Component Id="AppSettings" Guid="*">
        <File Id="AppSettingsJson" Source="$(var.PublishDir)\appsettings.json" />
      </Component>
    </ComponentGroup>

  </Package>
</Wix>
